### Combine classificationd data

In [1]:
print ("hello")

hello

In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_csv("./Data/1/Classification_Data.csv")
df_1.head(1)

,[1]-Total no of Return statement,[2]-Total no of Control Statement,[3]-Total no of Allocation instruction,[4]-Total no of Load Instructions,[5]-Total no of Store Instructions,[6]-Total no of Multiplication (Float Datatype) Operation,[7]-Total no of Addition(Integer Datatype) Instruction,[8]-Total no of Multiplication(Integer Datatype) Instruction,[9]-Total no of Division(Float Datatype) instruction,[10]-Total no of Division(Integer Datatype) instruction,...,[16]-Total no of Function Call instruction,[17]-Total no of Functions,[18]-Total no of Blocks,[19]-Total no of Instructions,[20]-Total no of Float Operation,[21]-Total no of Integer Operation,[22]-Total no of Loop Operation,[23]-Total no of Loop,[24]-Matrix Size,[25]-Classification
0,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,10000,1

In [4]:
df_2 = pd.read_csv("./Data/2/Classification_Data.csv")
df_2.head(1)

,[1]-Total no of Return statement,[2]-Total no of Control Statement,[3]-Total no of Allocation instruction,[4]-Total no of Load Instructions,[5]-Total no of Store Instructions,[6]-Total no of Multiplication (Float Datatype) Operation,[7]-Total no of Addition(Integer Datatype) Instruction,[8]-Total no of Multiplication(Integer Datatype) Instruction,[9]-Total no of Division(Float Datatype) instruction,[10]-Total no of Division(Integer Datatype) instruction,...,[16]-Total no of Function Call instruction,[17]-Total no of Functions,[18]-Total no of Blocks,[19]-Total no of Instructions,[20]-Total no of Float Operation,[21]-Total no of Integer Operation,[22]-Total no of Loop Operation,[23]-Total no of Loop,[24]-Matrix Size,[25]-Classification
0,1,3,0,2,1,0,4,3,0,0,...,3,5,4,26,8,17,0,0,10000,1

In [5]:
df_class = pd.concat( [df_1, df_2  ], axis=0  )
df_class

,[1]-Total no of Return statement,[2]-Total no of Control Statement,[3]-Total no of Allocation instruction,[4]-Total no of Load Instructions,[5]-Total no of Store Instructions,[6]-Total no of Multiplication (Float Datatype) Operation,[7]-Total no of Addition(Integer Datatype) Instruction,[8]-Total no of Multiplication(Integer Datatype) Instruction,[9]-Total no of Division(Float Datatype) instruction,[10]-Total no of Division(Integer Datatype) instruction,...,[16]-Total no of Function Call instruction,[17]-Total no of Functions,[18]-Total no of Blocks,[19]-Total no of Instructions,[20]-Total no of Float Operation,[21]-Total no of Integer Operation,[22]-Total no of Loop Operation,[23]-Total no of Loop,[24]-Matrix Size,[25]-Classification
0,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,10000,1
1,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,10500,0
2,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,11000,0
3,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,11500,0
4,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,12000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1,0,0,2,1,0,1,1,0,0,...,2,4,1,13,8,13,0,0,15500,0
155,1,0,0,2,1,0,1,1,0,0,...,2,4,1,13,8,13,0,0,16000,0
156,1,0,0,2,1,0,1,1,0,0,...,2,4,1,13,8,13,0,0,16500,0
157,1,0,0,2,1,0,1,1,0,0,...,2,4,1,13,8,13,0,0,17000,0
158,1,0,0,2,1,0,1,1,0,0,...,2,4,1,13,8,13,0,0,17500,0

In [6]:
df_class.to_csv("Classification_data.csv", encoding="utf8", index=False)

### Combine the regression data

In [7]:
df_3 = pd.read_csv("./Data/1/Speedup_Data.csv")
df_3.head(1)

,[1]-Total no of Return statement,[2]-Total no of Control Statement,[3]-Total no of Allocation instruction,[4]-Total no of Load Instructions,[5]-Total no of Store Instructions,[6]-Total no of Multiplication (Float Datatype) Operation,[7]-Total no of Addition(Integer Datatype) Instruction,[8]-Total no of Multiplication(Integer Datatype) Instruction,[9]-Total no of Division(Float Datatype) instruction,[10]-Total no of Division(Integer Datatype) instruction,...,[16]-Total no of Function Call instruction,[17]-Total no of Functions,[18]-Total no of Blocks,[19]-Total no of Instructions,[20]-Total no of Float Operation,[21]-Total no of Integer Operation,[22]-Total no of Loop Operation,[23]-Total no of Loop,[24]-Matrix Size,[25]-Speed up
0,1,0,0,1,1,0,2,2,0,0,...,2,4,1,15,6,16,0,0,10000,0.064941

In [8]:
df_4 = pd.read_csv("./Data/2/Speedup_Data.csv")
df_4.head(1)

,[1]-Total no of Return statement,[2]-Total no of Control Statement,[3]-Total no of Allocation instruction,[4]-Total no of Load Instructions,[5]-Total no of Store Instructions,[6]-Total no of Multiplication (Float Datatype) Operation,[7]-Total no of Addition(Integer Datatype) Instruction,[8]-Total no of Multiplication(Integer Datatype) Instruction,[9]-Total no of Division(Float Datatype) instruction,[10]-Total no of Division(Integer Datatype) instruction,...,[16]-Total no of Function Call instruction,[17]-Total no of Functions,[18]-Total no of Blocks,[19]-Total no of Instructions,[20]-Total no of Float Operation,[21]-Total no of Integer Operation,[22]-Total no of Loop Operation,[23]-Total no of Loop,[24]-Matrix Size,[25]-Speed up
0,1,3,0,2,1,0,4,3,0,0,...,3,5,4,26,8,17,0,0,10000,49.5413

In [9]:
df_regr = pd.concat( [df_3, df_4  ], axis=0  )

In [10]:
df_regr.to_csv("Regression_Data.csv", encoding="utf8", index=False)

### Training Classification Model

In [11]:
data = df_class[  df_class.columns[0:-1] ]
label = df_class[ df_class.columns[-1] ]

In [12]:
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( data, label, test_size=0.33, random_state=42)

In [13]:
from sklearn import datasets
from sklearn.svm import SVC

clf = SVC()
clf.fit(x_train, y_train)

SVC()

In [14]:
y_pred = clf.predict( x_test  )

In [15]:
print ( "Accuracy is : " , len(y_test [ y_pred == y_test ] )/ len(y_test)*100, "%" )

Accuracy is :  77.02702702702703 %

In [16]:
import pickle

# save the classifier
with open('my_dumped_classifier.pkl', 'wb') as fid:
    pickle.dump( clf, fid)    

# load it again
#with open('my_dumped_classifier.pkl', 'rb') as fid:
    #clf = cPickle.load(fid)

### Training Regression Model

In [17]:
data = df_regr[  df_regr.columns[0:-1] ]
label = df_regr[ df_regr.columns[-1] ]

In [18]:
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( data, label, test_size=0.33, random_state=42)

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(n_estimators=200, max_depth=5, random_state=0)

regr.fit(x_train, y_train)

RandomForestRegressor(max_depth=5, n_estimators=200, random_state=0)

In [20]:
y_pred = regr.predict( x_test )

In [21]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error( list( y_test ) , list( y_pred ) )

12.198527327924685

In [22]:
import pickle

# save the classifier
with open('my_dumped_regressor.pkl', 'wb') as fid:
    pickle.dump( regr, fid)

# load it again
#with open('my_dumped_regressor.pkl', 'rb') as fid:
    #regr = cPickle.load(fid)